* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    
   
}


/*estilos para el encabezado*/

.header {
    background-color: #F9F7F7;
    padding: 10px;
    display: flex;
}

.logo {
    margin-right: 20px;
    width: 100px;
    flex: 1;
}

.navbar {
    flex-grow: 1;
    text-align: right;
    flex: 4;
    padding: 50px 20px;
    font-size: 18px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    color: #e1a26f;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    color: #ffd700;
}


/*seccion 1 y sus estilos*/

.seccion1 {
    display: flex;
    background-image: url("../images/principal.jpg");
    background-color: #ffd700;
    width: 100%;
    height: 60%;
}


/*seccion 2*/

.seccion2 {
    background-color: #eeac90;
    text-align: center;
    font-family: sans-serif;
    color: rgb(104, 104, 104);
    padding: 50px 20px;
}

.delivery {
    width: 10%;
}


/*seccion3*/

.seccion3 {
    background-color: #3f1402;
    display: flex;
    width: 100%;
    height: 5%;
}
/*estilos de carrousel*/
.carousel-container {
    background-color: #3f1402;
    width: 50%;
    margin:auto;
    overflow:hidden;
    position:relative;
    padding-bottom: 20px;


    
  }
  .carousel {
    display: flex;
    transition: transform 1s ease;
  }

  .carousel img {
    width:100%;
   
    
  }
.footer {
    background-color:#080808;
    color: #3f1402;
    display:flex;
    padding: 20px;
    margin:auto;
    text-align: center;
    justify-content: center;
    
    
}
.navegacion{
  flex: 4;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: flex;
    margin-right: 10px;
    flex-direction: column;
}

.footer ul li a {
    color: #e1a26f;
    text-decoration: none;
}
.redes{
  color: #3f1402;
  background-color: #080808;
  display:flex;
  padding: auto;
  margin: auto;
  justify-content: right;
  flex:4;
}
.btn_redes{
    width: 3rem;
    height: 3rem;
}
  
  
  /*Estilos de la galeria de productos*/
  .carrito{
    width: 20px;
    margin: .5px;

  }
  h1 {
    margin: 0;
  }
  
  #cart {
    float: right;
    font-weight: bold;
    padding: auto;
  }
  .titulo{
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .add-to-cart {
    background-color: #eeac90;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
  }
  /*cambia de color al pasar el mouse*/
  .add-to-cart:hover {
    background-color: #531e03;
  }
  
/*Estilos de nosotros*/
.contenedor{
    display:flex;
    background-color: #eeac90;
    text-align: center;
    font-family: sans-serif;
    color: rgb(104, 104, 104);
    padding: auto;
   
    
  
}
.texto{
  padding: 20px 20px 20px 20px;
  width: 50%;

  
}
.contenedor2{
  width: 50%;
  justify-content: center;
  padding: auto;
}
.nuestra_empresa{
  width: 70%;
  padding: 20px 20px;
}
/*Estilos de la pagina de contactos*/


h1 {
  text-align: center;
  color: #eeac90;
}

.conte {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  color: #eeac90;
  background-color: #3f1402;

}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #8b5d33;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #65432a;
}

.error {
  color: yellow;
  
  display: none;
}
/* Estilos responsive */

@media screen and (max-width: 768px) {
    /* Estilos para dispositivos con ancho máximo de 768px */
    .header {
        flex-direction: column;
        text-align: center;
    }
    .navbar {
        margin-top: 10px;
        text-align: center;
    }
    .navbar ul li {
        display: block;
        margin-bottom: 10px;
    }
    .content {
        text-align: center;
    }
}