* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    
   
}


/*estilos para el encabezado*/

.header {
    background-color: #F9F7F7;
    padding: 10px;
    display: flex;
}

.logo {
    margin-right: 20px;
    width: 100px;
    flex: 1;
}

.navbar {
    flex-grow: 1;
    text-align: right;
    flex: 4;
    padding: 50px 20px;
    font-size: 18px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li a {
    color: #e1a26f;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    color: #ffd700;
}


/*seccion 1 y sus estilos*/

.seccion1 {
    display: flex;
    background-image: url("../images/principal.jpg");
    background-color: #ffd700;
    width: 100%;
    height: 60%;
}


/*seccion 2*/

.seccion2 {
    background-color: #eeac90;
    text-align: center;
    font-family: sans-serif;
    color: rgb(104, 104, 104);
    padding: 50px 20px;
}

.delivery {
    width: 10%;
}


/*seccion3*/

.seccion3 {
    background-color: #3f1402;
    display: flex;
    width: 100%;
    height: 5%;
}
/*estilos de carrousel*/
.carousel-container {
    background-color: #3f1402;
    width: 80%;
    margin:auto;
    overflow:hidden;
    position: relative;


    
  }
  .loguito {
    align-content: center;
  }

  .carousel {
    display: flex;
    transition: transform 1s ease;
  }

  .carousel img {
    width: 50%;
    height: auto;
  }
.footer {
    background-color: #3f1402;
    color: #eeac90;
    padding: 20px;
    text-align: center;
    float: inline-end;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: flex;
    margin-right: 10px;
    flex-direction: column;
}

.footer ul li a {
    color: #e1a26f;
    text-decoration: none;
}


/* Estilos responsive */

@media screen and (max-width: 768px) {
    /* Estilos para dispositivos con ancho máximo de 768px */
    .header {
        flex-direction: column;
        text-align: center;
    }
    .navbar {
        margin-top: 10px;
        text-align: center;
    }
    .navbar ul li {
        display: block;
        margin-bottom: 10px;
    }
    .content {
        text-align: center;
    }
}